#app {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'),
        url('../fonts/Comfortaa.woff2') format('woff2');
}

div#example {
    font-family: 'Comfortaa', Fallback, sans-serif;
}


div#example .button {
    font-size: 20px;
}